<section aria-labelledby="partners-title" id="partners" class="py-8 flex flex-column align-items-center">
    <h1 class="block text-6xl text-center font-bold mb-6">Partners</h1>
    <div class="slider">
        <div class="slider-items">
            @for (partner of partners; track $index) {
            <app-contributor class="card w-15rem" [contributor]="partner" />
            }

            @for (partner of partners; track $index) {
            <app-contributor class="card" [contributor]="partner" />
            }
        </div>
    </div>
</section>