<p-carousel [value]="carouselItems" [numVisible]="1" [numScroll]="1" autoplayInterval="10000" [circular]="true">
    <ng-template let-slide pTemplate="item">
        <div class="carousel_item w-full flex flex-column justify-content-evenly align-items-center pt-8">
            <h1 class="slide_title text-3xl md:text-4xl lg:text-5xl text-center">{{ slide.title }}</h1>
            <img [src]="slide.img" [alt]="slide.title + ' image'" loading="lazy" decoding="async" />
            <p class="text-center md:text-base lg:text-lg text-sm font-semibold lg:w-6 md:w-8 w-12">
                {{ slide.description }}
            </p>
        </div>
    </ng-template>
</p-carousel>