<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TH&S Bologna - Soluzioni Informatiche</title>

  <!-- SEO Meta Tags -->
  <meta name="description"
    content="TH&S Bologna - Soluzioni informatiche su misura per hardware, software e assistenza.">
  <meta name="keywords" content="informatica, hardware, software, assistenza, TH&S Bologna">
  <meta name="author" content="TH&S Bologna, Andrea Battista">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="TH&S Bologna - Soluzioni Informatiche">
  <meta property="og:description"
    content="Offriamo soluzioni su misura per hardware, software e assistenza, garantendo ai nostri partner un supporto affidabile e continuativo per ogni esigenza IT.">
  <meta property="og:image" content="logo.png">
  <meta property="og:url" content="https://thsbo.netlify.app">
  <meta property="og:type" content="website">
</head>

<body>
  <app-header />
  <router-outlet />
  <app-footer />
</body>

</html>