section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    top: 0;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

::ng-deep .p-tooltip-text {
    padding: 5px 5px;
}

.double_single,
#telefono {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

:host ::ng-deep input,
:host ::ng-deep .p-inputtextarea {
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

:host ::ng-deep #attivita {
    width: 100%;
}

:host ::ng-deep .p-dropdown-item {
    padding: 10px;
}

:host ::ng-deep #nation {
    width: 100px;
}

:host ::ng-deep #nation .p-dropdown-label {
    padding-right: 0;
}

:host ::ng-deep #nation .p-dropdown-trigger {
    width: 30px;
    padding: 10px;
}

:host ::ng-deep #partita_iva {
    width: 100%;
    padding: 0;
    margin: 0;
}

:host ::ng-deep .p-button {
    position: relative;
    width: 100%;
    height: 20px;
    padding: 20px;
    background-color: blue;
}

@media screen and (max-width: 1024px) {
    section {
        padding: 0;
        min-height: var(--section_height);
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 0 20px var(--navbar_height) 20px;
    }

    #form {
        gap: 20px;
    }

    .double_single {
        flex-direction: column;
    }

    ::ng-deep input,
    ::ng-deep .p-dropdown {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    ::ng-deep .p-element {
        font-size: 1.2rem;
    }
}